/* FOOTER STYLES */
foot p {
    font-size: .9em;
}

a.footlink {
    color: #f8ffe9;
    text-decoration: underline;
}


foot {
    font-family: 'Fira', sans-serif;
    display: block;
    background: #02390b;
    color: #fff;
}

foot a {   
    font-weight:200;
}

foot a:hover {
    color: #FFF;
    text-decoration: none;
}

sect {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

sect first {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-right: 10px;
    padding-bottom: 30px;
}

sect second {
    grid-column-start: 3;
    grid-column-end: 4;
    padding-right: 10px;
    padding-bottom: 30px;

}

sect second img{
    margin:0px 0px 3px 5px;
    width:20px;
}


sect second  h5.top {
    border-bottom: 1px #000 dotted;
}

sect third {
    grid-column-start: 4;
    grid-column-end: 5;
    padding-right: 10px;
    padding-bottom: 30px;
}

sect fourth {
    grid-column-start: 5;
    grid-column-end: 6;
    padding-bottom: 30px;
}

copyright {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 15px 0 20px 0;
    text-align: center;
    color: #ccc;
    border-top: 1px #ccc dotted;
    font-size: .7em;
}

sect > first > h5,
sect > second > h5,
sect > third > h5,
sect > fourth > h5 {
    margin-top: 10px;
    font-size: 1.6em;
    line-height: 1.2em;
    color: #fff;
    font-weight: 100;
    padding-bottom:5px
}

sect > second > h5,
sect > fourth > h5,
sect > first > h5 {
    border-bottom: 1px #fff dotted;
}

sect > first > p,
sect > services > p,
sect > third > p,
sect > fourth > p {
    color: #e7ffb6;
}

sect > fourth {
    flex-direction: column;
justify-content: center;
}

@media all and (max-width: 599px) {

    sect fourth {
        display: none;
    }

    sect {
        text-align: center;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    sect first {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    sect second {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    sect third {
        display: none;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    copyright {

    }

    sect > first > p,
    sect > second > p,
    sect > third > p,
    sect > fourth > p {

    }

    sect > first > h5,
    sect > services > h5,
    sect > third > h5,
    sect > fourth > h5 {

    }
}

@media screen and (min-width: 600px) and (max-width: 999px) {


    sect {
        text-align: center;
        /* padding: 40px; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    sect first {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    sect second {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    sect fourth {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    sect third {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    copyright {
        padding: 10px 40px 0 40px;
        font-size: .5em;
        line-height: 1.3em;
        grid-row-start: 3;
        grid-column-start: 1;
    }

    sect > first > p,
    sect > services > p,
    sect > third > p,
    sect > fourth > p {

    }

    sect > first > h5,
    sect > second > h5,
    sect > third > h5,
    sect > fourth > h5 {

    }
    
    #main_content {
        border-radius: 5px;
        background-color: #fff5e6;
        padding:5px;
        margin: -40px 0 0 0;
    }


}

/* FOOTER STYLES */
