#formdescription {
   å padding: 50px 0 0 0;
}
#formdescription h3 {
    font-size: 2.5em;
}
#formdescription h4 {
    font-size: 1.7em;
    line-height: 1.3em;
}
#formdescription p {
    display: block;
    width: 70%;
}

#formblock {
    background: rgba(0, 107, 54, 0.3); padding:40px;
    text-align:center;
    width: 100%;
    border-radius: 20px;
}

#formblock label {
    /* color:#fff; */
}

/* Form */
.modal-body .inputlabel {
  text-align: center;
    font-size: 1em;
    /* position: absolute; */
    /* margin: -5px 0px 0px; */
    color:#21035a;
    font-weight:200;
}

.inputlabel {
    /* font-size: 2em; */
    position: absolute;
    margin: -5px 0px 0px;
    color:#fff9ae;
    font-weight:200;
}



textarea, input[type="text"],
input[type="email"],
input[type="Submit"] {

    text-align: left;
    /* height: 45px; */
    width: 100%;
    color: #000;

    outline: 0;
    }
#myModal h4 {
    color: #02390b;
    font-size: 2.6em;
    font-family: 'Oswald', sans-serif;
}




textarea {
    height: 288px;
    padding-top: 30px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #02390b;
    /* margin:0px 0 10px 0; */
    text-align: center;
    font-family: 'Oswald', sans-serif;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #02390b;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #02390b;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

input[type="Submit"] {
    text-align:center;


    color: #fff;
    background: #02390b;

    border:none;
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

input[type="Submit"]:hover {
    background: #d06d14;
}
