.bg-image {}

.horizontal-wrapper {
    padding : 30px 0 70px 0;
}

#safety h3 {
    color : #fff;
}

#safety .block-title h2 {
    color : #fff;
    border-bottom: 1px #fff dotted;
}

.horizontal-wrapper h3,
.horizontal-wrapper h4 {
    font-family : 'Arsenal',
        sans-serif;
    font-weight : 500;
}

#safety .block-content h4 {
    /* color: #8cff00; */
    margin : 0px 0 10px 0px;
    color : #fff;
}

#safety p {
    color : #fff;
}

.horizontal-wrapper .block-content h4 {
    color: #106d3b;
text-transform: uppercase;
font-size: 1.3em;
font-weight: 200;
}

.empl .horizontal-wrapper .block-content h4 {
    font-size:1.45em;
}

.module-container {}

.module-item {
    padding : 10px;
}

#safety .module-item-wrapper {
    min-height : 330px;
    background : rgba(255, 255, 255, .2);
}

.module-item-wrapper {
    overflow           : hidden;
    border-radius: 20px;
    background: rgb(255,255,255);
    -moz-box-shadow    : 3px 7px 35px -10px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow : 3px 7px 35px -10px rgba(0, 0, 0, 0.18);
    box-shadow         : 3px 7px 35px -10px rgba(0, 0, 0, 0.18);
}

.module-item-wrapper:hover {
    background         : #fff;
    -moz-box-shadow    : -2px 6px 86px -7px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow : -2px 6px 86px -7px rgba(0, 0, 0, 0.23);
    box-shadow         : -2px 6px 86px -7px rgba(0, 0, 0, 0.23);
}

.block-image {}

.tab-pane .block-image {
    padding: 30px;
}

.image-in-block {
    width : 100%;
}

.block-content {
    min-height : 230px;
    padding    : 20px;
    text-align : center;
    display: flex;

flex-direction: column;
justify-content: center;
}

.tab-pane .block-content {
    min-height: 95px;
    background: #f3f3f3;
}

.block-content ul {
    text-align: left;
    padding: 15px 20px 0px 40px;
}


#offices .block-content {
    min-height: 20px;
    padding: 20px 0 0 0;
    text-align: left;
}

#offices .module-item-wrapper {
    background: none;
    border-radius:0px;
    -moz-box-shadow    : none;
    -webkit-box-shadow : none;
    box-shadow         : none;
}

#offices .horizontal-wrapper .block-content h4 {
    font-size: 1.4em;
}


#safety .block-content {
    min-height : 200px;
    padding    : 20px;
    text-align : center;
}

.block-content h4 {}
.tab-pane .block-content h4 {
    font-size: 1.2em;
}

.block-title {
    text-align : center;
}

.block-title h2,
.block-title h3 {
    font-family : 'Arsenal',
        sans-serif;
    font-weight : 200;
}

.block-title h2 {
    font-size : 4em;
    border-bottom: #106d3b 1px dashed;
    /* padding: 0 0 10px 0; */
}

.block-title h3 {
    margin    : 0px 0 20px 0;
    color     : #106d3b;
    font-size : 2em;
    text-transform: uppercase;
}

div.block-content.min240 {
    min-height : 240px;
}

div.block-content.min250 {
    min-height : 250px;
}

div.block-content.min260 {
    min-height : 260px;
}

div.block-content.min270 {
    min-height : 270px;
}

#stages .block-image {
    float: left;
    }

#stages .image-in-block {
  float: left;
    /* height: 150px;
    width: inherit;
    margin-right: 10px; */
    }

#stages .block-content {
    min-height: 30px;
    /* padding: 20px 41px 0px 20px; */
    text-align: left;
    }


    #stages .block-content  p a{
        color:rgb(130, 255, 172);
        text-decoration: underline;
        }

#stages .module-item-wrapper {
    background:#106d3b;
}

#buh .module-item-wrapper {
    background:#106d3b;
}

#buh h4 {
    color:#fff;
    font-weight: 900;
}

#buh p {
    color:#fff;
    font-weight: 400;
}

#stages h4 {
    color: #fff;
    text-transform: uppercase;
    }

    #stages p {
        color: #fff;
        font-weight: 400;
    }

#feedback h2 {
    font-size: 3.5em;
}

#feedback h3 {
    font-size: 2.0em;
}

/* Large Devices, Wide Screens */

@media
only screen
and (max-width : 1200px) {
    .horizontal-wrapper {}

    .module-container {}

    .module-item {}

    .block-image {    height: 120px; width:184px; overflow: hidden;}

    .image-in-block {}

    .block-content {
      margin: -10px 0 0 0;
        min-height: 280px;
        padding    : 10px;
        text-align : center;
    }

    #buh .block-content {
        min-height: 335px;
        padding    : 20px;
        text-align : center;
    }

    .horizontal-wrapper h3,
    .horizontal-wrapper h4 {}

    .horizontal-wrapper .block-content h4 {
            font-size: 1.1em;
    }

    .horizontal-wrapper .block-content p {
      font-size: .9em;
      line-height: 1.2em;

    }

    .block-title {}

    .block-title h2 {}

    .block-title h3 {}
}

/* Medium Devices, Desktops */

@media
only screen
and (max-width : 992px) {
    .horizontal-wrapper {}

    .module-container {}

    .module-item {}

    .block-image {}

    .image-in-block {}

    .block-content {
        font-size : 1.4em;
    }

    .horizontal-wrapper h3,
    .horizontal-wrapper h4 {}

    .horizontal-wrapper .block-content h4 {}

    .block-title {}

    .block-title h2 {}

    .block-title h3 {}

    #safety .block-content h4 {}

    #safety .block-content p {}
}

/* Small Devices, Tablets */

@media
only screen
and (max-width   : 768px)
and (orientation : portrait) {
    .horizontal-wrapper {
        background : none;
    }

    .module-container {}

    .module-item {
        padding : 0;
    }

    .block-image {
        overflow : hidden;
    }

    .image-in-block {}

    .block-content {
        padding   : 20px;
        font-size : 1.0em;
    }

    .horizontal-wrapper h3,
    .horizontal-wrapper h4 {}

    .horizontal-wrapper .block-content h4 {
        font-size : 3em;
    }

    .block-content {}

    .block-title {}

    .block-title h2 {
        font-size : 3em;
    }

    .block-title h3 {
        font-size : 1em;
    }

    #safety .block-content h4 {}

    #safety .block-content p {}
    /* iPad in Portrait */
    @media
    only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation      : portrait) {
        .horizontal-wrapper {}

        .module-item {
            padding : 7px;
        }

        .block-image {
            width    : 100%;
            float    : left;
            overflow : hidden;
        }

        .block-content {
            float: left;
            /* margin: -20px 0 -50px 0; */
            text-align: center;
        }

        .block-title {}

        .block-title h2 {}

        .block-title h3 {}

        .horizontal-wrapper .block-content h4 {
            font-size: 1.3em;
        }

        #safety .block-content {
            margin     : 20px 0 10px 0;
            text-align : left;
        }

        #safety .module-item-wrapper {
            min-height : 200px;
        }

        #safety .block-content p {
            margin      : 0px 0 0 0;
            text-align  : left;
            font-size   : 1.2em;
            line-height : 1.4em;
        }
    }
}

/* iPad in Landscape */

@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation      : andscape) {
    #safety .block-content h4 {
        padding-top : 18px;
        font-size   : 1.2em;
    }

    #safety .block-content p {
        font-size   : 1.1em;
        line-height : 1.4em;
    }
}

@media
only screen
and (max-width   : 768px)
and (orientation : andscape) {
    .horizontal-wrapper {
        background : none;
    }

    .module-container {}

    .module-item {
        margin-bottom : 20px;
        padding       : 0;
        background    : #fff;
    }

    .block-image {
        width    : 50%;
        float    : left;
        overflow : hidden;
    }

    .image-in-block {}

    .block-content {
        width      : 40%;
        float      : left;
        padding    : 20px;
        text-align : left;
        font-size  : 1.0em;
    }

    .horizontal-wrapper h3,
    .horizontal-wrapper h4 {}

    .horizontal-wrapper .block-content h4 {
        margin    : -10px 0 5px 0;
        font-size : 2.3em;
    }

    .block-title {}

    .block-title h2 {
        font-size : 3em;
    }

    .block-title h3 {
        font-size : 1em;
    }

    #safety .block-content h4 {}

    #safety .block-content p {}
}

/* Extra Small Devices, Phones */

@media
only screen
and (max-width : 480px) {
    .horizontal-wrapper {}

    .module-container {}

    .module-item {}

    .block-image {width: 100%; height: auto;}

    .image-in-block {}

    .block-content {}

    .horizontal-wrapper h3,
    .horizontal-wrapper h4 {}

    .horizontal-wrapper .block-content h4 {font-size: 1em;}

    #safety .block-content h4 {
        margin    : -30px 0 10px 10px;
        font-size : 2em;
    }

    #safety .block-content p {
        margin      : 0px 0 0 0;
        font-size   : 1.2em;
        line-height : 1.2em;
    }

    .block-title {}

    .block-title h2 {}

    .block-title h3 {}

    #safety .block-content h4 {}

    #safety .block-content p {}
}

/* Custom, iPhone Retina */

@media
only screen
and (max-width : 320px) {
    .horizontal-wrapper {}

    .module-container {}

    .module-item {}

    .block-image {}

    .block-content {}

    .image-in-block {}

    .horizontal-wrapper h3,
    .horizontal-wrapper h4 {}

    .horizontal-wrapper .block-content h4 {font-size: 1em;}

    .block-title {}

    .block-title h2 {}

    .block-title h3 {}

    #safety .block-content h4 {}

    #safety .block-content p {}
}
@media
only screen
and (min-width : 1200px) {
#stages .image-in-block {width: 535px;}
#faces .image-in-block {width: 100%;}
}