.slider-logo {
    width: 15vw;
}

.carousel-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-caption {
    width: 80vw;
    left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(70vw / 2.5);
    overflow: hidden;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-indicators li {
    background: var(--light-color);

}

.carousel-indicators .active {
    background: var(--sec-color);
}

.carousel-caption {
    text-align: left;
    color:var(--light-color);
}

.carousel-caption h3 {
    color:var(--light-color);
    font-weight: 400;
    text-shadow: none;
}

.carousel-caption.dark h3 {
    color:var(--text-color-light);
}

.carousel-caption p {
    color: var(--text-color-light);
    display: block;
    width: 60%;
    margin: 10px 0 10px 0;
    text-shadow: none;
    /* font-family: 'Oswald', sans-serif; */
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 200;

}
.carousel-caption ul {
    color: var(--text-color-light);
    margin: 10px 0 10px 0;
    text-shadow: none;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 200;

}

.carousel-caption.dark p {
    color: var(--light-color);
}

.carousel-caption a {
    color:var(--text-color-dark);
}

a.left.carousel-control,
a.right.carousel-control {
    background : transparent;
}

/**
 * ==========
 *
 * Non-Mobile First Method
 *
 * ==========
 */

/* Large Devices, Wide Screens */




@media
only screen
and (min-width : 1200px) {
    .carousel-caption {
        text-align: left;
    }
}


@media
only screen
and (max-width : 1200px) {
    .slider-logo {
        width:250px;
    }
    .carousel-indicators li {

    }

    .carousel-indicators .active {

    }

    .carousel-caption {

    }

    .carousel-caption h3 {
        font-size : 1.7em;
    }

    .carousel-caption p {
        text-shadow : none;
        font-size   : 1.0em;
    }

    a.left.carousel-control,
    a.right.carousel-control {}
}

@media
only screen
and (min-width : 1600px) {
    .carousel-caption {
    }
}
/* Medium Devices, Desktops */

@media
only screen
and (max-width : 992px) {
    .carousel-indicators li {

    }

    .carousel-indicators .active {

    }

    .carousel-caption {

    }

    .carousel-caption h3 {
        font-size : 1.1em;
    }

    .carousel-caption p {
        font-size : .9em;
        line-height: 1.2em;
    }

    a.left.carousel-control,
    a.right.carousel-control {
        display : none;
    }
}
@media
only screen
and (max-width: 812px)
and (orientation : landscape) {
    .carousel-caption {

    }
    .slider-logo {
        width: 150px;
    }
}
/* Small Devices, Tablets */

@media
only screen
and (max-width : 768px) {

    .carousel-indicators li {

    }

    .carousel-indicators .active {

    }

    .carousel-caption {

    }

    .carousel-caption h3 {
        margin    : 10px auto;
        font-size : 1.7em;
    }

    .carousel-caption p {
        text-shadow : none;
        font-size   : .8em;
    }

    a.left.carousel-control,
    a.right.carousel-control {}
    @media
    only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation      : portrait) {
        .slider-logo {
            width:150px;
        }

        .carousel-caption h3 {
            font-size : 1.2em; 
        }

    }
}

/* iPad in Landscape */

@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation      : andscape) {

}

/* Extra Small Devices, Phones */

@media
only screen
and (max-width : 480px) {
    .carousel-indicators li {

    }

    .carousel-indicators .active {

    }

    .carousel-caption {
        display : none;
    }

    .carousel-caption h3 {
        display : none;
    }

    .carousel-caption p {
        display     : none;
        text-shadow : none;
        font-size   : 1.3em;
    }

    a.left.carousel-control,
    a.right.carousel-control {}
    
}

/* Custom, iPhone Retina */

@media
only screen
and (max-width : 320px) {
    .carousel-indicators li {
        display : none;
    }

    .carousel-indicators .active {
        display : none;
    }

    .carousel-caption {
        display : none;
    }

    .carousel-caption h3 {
        display : none;
    }

    .carousel-caption p {
        display : none;
    }

    a.left.carousel-control,
    a.right.carousel-control {}
}
